@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ruthie&display=swap');

@font-face {
    font-family: 'BlackClover';
    src: url('../fonts/BlackCloverFont.ttf') format('truetype'),
         url('../fonts/BlackCloverFont.otf') format('opentype'),
         url('../fonts/BlackCloverFont.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    width: 100%;
    background-color: #111111;
    color: white;
    transition: background-color .2s;

}

h1, h2 {
    font-family: 'BlackClover';
}



body.ativo-asta-mode{
    background-color: #111111;
}

body.ativo-yuno-mode{
    background-color: #aee4a0;
}

 .grid-container {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 100vh 100px 800px 25px 1050px 266px 800px 700px 800px;

}

.grid-section {
    grid-column: 1/4;
}

#logo {
    position: fixed;
    top: 7%;
    left: 3%;
    height: 65px;
}

.inicio {
    height: 100vh;
    width: 100%;
    background: url('../imagens/black-clover-inicio1000.jpg') no-repeat center bottom;
    background-size: cover;
}

.separacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #2f2d2d;
    box-shadow: 1px 1px 5px 1px black;
}

.separacao div {
    display: flex;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    font-family: 'BlackClover';
    background-color: #212121;
    font-size: 3rem;

}

.separacao div img {
    height: 50px;
    padding: 0px 15px;
}

.irmaos-container {
    width: 100%;
    background: white;
    z-index: 0;
}

.irmaos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 800px;
}

.asta-side, .yuno-side {
    font-family: 'BlackClover', Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 10rem;
    z-index: 2;
}

.asta-side {
    color: #b51715;
    top: 4%;
    left: 15%;
}

.yuno-side {
    color: #d4c6a9;
    right: 15%;
    bottom: 4%;
}

.irmaos::before,
.irmaos::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.irmaos::before {
    background: #aee4a0;
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
}

.irmaos::after {
    background: #111111;
    clip-path: polygon(0 0, 65% 0, 35% 100%, 0 100%);
}

.irmaos img {
    height: 700px;
    z-index: 3;
    transition: transform .2s;
}

#asta.ativo, #yuno.ativo {
    transform: scale(1.1);
}

.irmaos.ativoAsta::after {
    clip-path: polygon(0.5% 1%, 64% 1%, 34.5% 99%, 0.5% 99%);
}

.irmaos.ativoAsta::before {
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
}

.irmaos.ativoYuno::after {
    clip-path: polygon(0 0, 65% 0, 35% 100%, 0 100%);
}

.irmaos.ativoYuno::before {
    clip-path: polygon(65.5% 1%, 99.5% 1%, 99.5% 99%, 36% 99%);
}

#yuno {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 200px;
}

.separacao-irmaos-sinopse {
    grid-column: 1/4;
    width: 100%;
    background-color: #212121;
}

.fundo-sinopse-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fundo-sinopse {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 1050px;
    background: url('../imagens/reino-clover.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.fundo-sinopse img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.sinopse {
    margin-top: 100px;
    background-color: #2a2a2abb;
    width: 450px;
    color: white;
    font-size: 1.6rem;
    text-indent: 2rem;
    padding: 30px;

}

.sinopse h1{
   text-align: center;
   margin-bottom: 20px;
}

.sinopse p {
   font-size: 1.4rem;
   line-height: 2rem;
   text-align: justify;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icones img {
    margin-top: 30px;
    height: 100px;
    transition: transform 0.2s;
}

.icones img:hover {
    transform: scale(1.2)
}

.icone-container {
    margin-top: 20px;
    width: 100%;
    padding-top: 30px;
}

.icone-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: 'BlackClover';
}

.capitaes {
    grid-column: 2;
}

.capitaes .capitao {
    display: none;
    padding-top: 70px;
    margin-bottom: 250px;
}

.capitaes .capitao.ativo {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 100px;
    grid-template-rows: 500px;
    height: 550px;
    animation: show-right .5s forwards;
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.capitaes .capitao.ativo h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.capitaes .capitao.ativo img {
    height: 500px;
}

.capitaes .capitao.ativo p {
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 4rem;
    line-height: 2.2rem;
}

.slide-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}

.quizz {
    position: fixed;
    display: flex;
    right: 10%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
    background-color: #555555;
    z-index: 4;
}

.quizz button{
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #581414;
    font-size: 1.5rem;
}

.perguntas div {
    display: none;
}

.modal-container {
    position: relative;
    display: none;
    z-index: 5;
}

.modal-container.ativo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #1111119a;
}

.modal-container .modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%; 
    justify-content: center;
    align-items: center; 
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/quizz/quizz.png') no-repeat center center;
    background-size: cover;
    width: 1050px;
    height: 580px;
    border: 20px solid #111111f5;
    border-radius: 15px;
}

.pergunta {
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 70px 70px;
    width: 100%;
    height: 100%;
    order: -1;
}

.pergunta h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    grid-column: span 2;
}

.pergunta p {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    grid-row: span 1;
}

.pergunta div {
    
    background-color: #11111199; 
    height: 70px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin-left: 10px;
    box-sizing: border-box;
}

.buttons {
    position: relative;
    height: 100%;
    width: 100%;
}

#next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #111111;
    color: white;
}

#prev {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #111111;
    color: white;
}

.imagem-acerto, .imagem-erro, .mensagem-acerto, .mensagem-erro {
    display: none;
    z-index: 6;
}

.imagem-acerto.ativo, .imagem-erro.ativo {
    display: block;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mensagem-acerto.ativo, .mensagem-erro.ativo {
    display: block;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
    color: white;
}

.modal.ativo-total {
    display: grid;
    grid-template-columns: 40% 35% 25%;
    grid-template-rows: 80% 20%;
}

.modal.ativo-total img {
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}

.mensagem-total {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

.acertos-total {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.ativo-total button {
    margin: auto;
    color: white;
    background-color: #111111;
    font-family: 'BlackClover';
    font-size: 1.5rem;
    width: 140px;
    height: 60px;
}

.mensagem-total, .acertos-total {
    font-family: "Lora", serif;
    font-size: 1.7rem;
}

.comentarios {
    padding: 20px;
    grid-column: 2/3;
    color: white;
    background-color: rgb(40, 39, 39);
    height: 400px;
}

.comentarios h2 {
    box-shadow: 0px 2px 0px rgb(19, 18, 18);
    margin-bottom: 20px;
}

.comentarios p {
    margin-bottom: 10px;
}

.comentarios textarea {
    padding: 5px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.comentario {
    position: relative;
}

.nome, .nome input[type="text"], .email, .email input[type="text"] {
    width: 50%;
}

.nome input[type="text"], .email input[type="text"] {
    padding: 3px;
    width: 100%;
}


.flex-nome-email {
    display: flex;
    gap: 10px;
}

::-webkit-scrollbar {
    background-color: #111111;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b51715;
    height: 10px;
    width: 10px;
    border-radius: 30px;

}

